<!--The content below is only a placeholder and can be replaced.-->

<div class="input jumbotron">
  <h1>{{title}}</h1>
</div>
  <form (submit)="calculateScore()" #gitForm="ngForm">
    <h3>Github Username: <input type="text" name="name" [(ngModel)]="name" required></h3>
    <input class="btn btn-primary" type="submit" value="Calculate My Github Score" [disabled]="!gitForm.form.valid">
  </form>

  
<div class="result">
  <h1>Your Score: {{score}}</h1>
  <div *ngIf="userexistance === true">
  <h3 [class]="status[0]">{{status[1]}}</h3>
</div>
</div>
<div *ngIf="userexistance === false">
  <h3>User does not exist, pick a different github username.</h3>
</div>


