.orange {
    color: orange;
}

.red {
    color: red;
}

.green {
    color: green;
}

.black {
    color: black;
}

.blue {
    color: blue;
}

.input,.jumbotron {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
